<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <nav class="nav">
        <ul class="nav__item-list">
            <li class="nav__item">
                <a href="/institution">Add Institution</a>
            </li>
        </ul>
    </nav>

    <main>

        <form action="/institution" method="POST">
            <div class="form-control">
                <label for="name">Nome escola</label>
                <input type="text" name="title" id="title" >
            </div>
            <div class="form-control">
                <label for="phone">Telefone</label>
                <input type="number" name="phone" id="phone">
            </div>
            

            <div class="form-control">
                <label for="cep">CEP</label>
                <input id="zip" name="zip" type="text" required/>
            </div>
            <div class="form-control">
                <label for="name">Endereço</label>
                <input type="text" name="address" id="address" >
            </div>
            <div class="form-control">
                <label for="numero">Número</label>
                <input id="number" name="number" type="text" />
            </div>
            <div class="form-control">
                <label for="bairro">Bairro</label>
                <input id="neighborhood" name="neighborhood" type="text" required/>
            </div>
            <div class="form-control">
                <label for="cidade">Cidade</label>
                <input id="city" name="city" type="text" required/>
            </div>
            <div class="form-control">
                <label for="uf">UF</label>
                <input id="state" name="state" type="text" required/>
            </div>

            
            <div class="form-control">
                <label for="name">Razão social</label>
                <input type="text" name="socialReason" id="socialReason" >
            </div>
            <div class="form-control">
                <label for="name">CNPJ</label>
                <input type="string" name="cnpj" id="cnpj" >
            </div>
            <div class="form-control">
                <label for="name">Token</label>
                <input type="text" name="token" id="token" >
            </div>
            <div class="form-control">
                <label for="name">Distrito sanitário</label>
                <input type="number" name="sanitaryDistrict" id="sanitaryDistrict" >
            </div>
            
            <button type="submit">Cadastrar</button> 
        </form>
    </main>

    <script type="text/javascript">
            $("#zip").focusout(function(){
                $.ajax({
                    url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
                    dataType: 'json',
                    success: function(resposta){
                        $("#address").val(resposta.logradouro);
                        $("#neighborhood").val(resposta.bairro);
                        $("#city").val(resposta.localidade);
                        $("#state").val(resposta.uf);
                        $("#number").focus();
                    }
                });
            });
    </script>

</body>
</html>