<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav class="nav">
        <ul class="nav__item-list">
            <li class="nav__item">
                <a href="#">Add Class to Institution</a>
            </li>
        </ul>
    </nav>

    <main>

        <form action="/{idInst}/classInstitution" method="POST">
            <div class="form-control">
                <label for="grade">Série</label>
                <input type="text" name="grade" id="grade" >
            </div>
            <div class="form-control">
                <label for="class">Turma</label>
                <input type="text" name="class" id="class" >
            </div>
            <div class="form-control">
                <label for="shift">Turno</label>
                <input type="text" name="shift" id="shift" >
            </div>
            
            
            <button type="submit">Cadastrar</button> 
        </form>
    </main>

</body>
</html>