<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav__item-list">
            <li class="nav__item">
                <a href="/user">Add User</a>
            </li>
        </ul>
    </nav>

    <main>
        <form action="/user" method="POST">
            <div class="form-control">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="form-control">
                <label for="phone">Telefone</label>
                <input type="number" name="phone" id="phone">
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpf">
            </div>
            <div class="form-control">
                <label for="birthday">Data de Nascimento</label>
                <input type="date" name="birthday" id="birthday">
            </div>
            <div class="form-control">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>

            <button type="submit">Cadastrar</button> 
        </form>
    </main>

</body>
</html>