div#home-header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url('./assets/background_nav.svg') no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

div#home-header img {
    height: 80px;
    margin-right: auto;
    padding: 10px
}
div#home-header a {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}
@media only screen and (max-width: 792px) {
    div#home-header a {
        visibility: hidden;
        overflow: hidden;
    }
}