#home{
    font-family: Arial, Helvetica, sans-serif;    columns: #000000;;
    background: url('./fundo_home.png');
    background-size: cover;
    background-repeat: no-repeat;
    height :100vh;
}

#home-content{
    margin-top: 10rem;
    margin-left: 5rem;
    width: 25rem;
    height: 25rem;
}
#home-content h1{
    font-size: 4rem;
    color: rgb(54,45,124);
}

#home-content p{
    text-align: start;
    color: rgb(168,168,168);
}