#home {
    font-family: Arial, Helvetica, sans-serif;
    columns: #000000;
    background: url('./assets/fundo_home.png');
    background-size: cover;
    height: 100vh;
}

#home-content {
    margin-top: 10%;
    margin-left: 5%;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

#home-content h1 {
    font-size: 4rem;
    color: rgb(54, 45, 124);
}

#home-content h2 {
    font-size: 3rem;
    color: rgb(54, 45, 124);
}


#home-content p {
    text-align: start;
    margin-left: 10px;
    color: rgb(168, 168, 168);
}