<!DOCTYPE html>
<html lang="pt-BR">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZikaWeb</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" >

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" type="text/css" href="vendor/styles/templateStyle.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="../device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/new-age.min.css">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <div class="navbar">
      <div style="flex-grow: 2; align-self: center"><a href="#home"> <img src="https://i.imgur.com/BRYpUr9.png"  height="100"> </a></div>
      <div style="flex-grow: 1; align-self: center"><a href="#home">Home</a></div>
      <div style="flex-grow: 1; align-self: center"><a href="#sobre-nos">Sobre nós</a></div>
      <div style="flex-grow: 1; align-self: center"><a href="#projeto">Projeto</a></div>
      <div style="flex-grow: 1; align-self: center"><a href="#contact">Contato</a></div>
      <div style="flex-grow: 1; align-self: center"><a href="#login" class="btn-login"><b><img class="icon-navbar" src="https://image.flaticon.com/icons/png/512/9/9273.png" width="60" height="60"></b></a></div>
    </div>
    <!-- Fim Navigation -->

    <!-- Cadastro -->
    <section class="cadastro" id="cadastro">

        <div class="cadastro-modal">
            <div class="introForm">
                  <form id="signupform" class="form-horizontal content-form" role="form" method="post" action="/cadastro">
                    <div class="title-content-form">Cadastro</div>
                    <div class="titles-selects">Estado: </div>
                      <select class="form-control " id="sel1" required name="stateId">
                          <% for(var i=0; i < data_state.length; i++) { %>
                            <option value=<%= data_state[i].id %>><%= data_state[i].name %></option>
                          <% } %>
                      </select>
                    <br>
                    <div class="titles-selects">Perfil: </div>
                    <select class="form-control" id="sel1" required name="profileId">
                        <% for(var i=0; i < data_profiles.length; i++) { %>
                           <option value=<%= data_profiles[i].id %>><%= data_profiles[i].name %></option>
                        <% } %>
                     </select>
                    <br>
                    <input type="submit" id="btn-signup" class="btn-avancar btn btn-info" value="Avançar">
                </form>
            </div>
        </div>
      </section>
    <!-- Fim Cadastro-->

      <!-- Bootstrap core JavaScript -->
      <script type="text/js" src="../vendor/jquery/jquery.min.js"></script>
      <script type="text/js" src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
      <!-- Plugin JavaScript -->
      <script type="text/js" src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  
      <!-- Custom scripts for this template -->
      <script type="text/js"src="../js/new-age.min.js"></script>
  
    </body>
  
  </html>