#fullBody{
    background-color: rgb(239, 239, 239);
    height: 100vh;
    background-size: 20%;
}

#body{
    position: relative;
    display: flex;

}
#sidebar{
    z-index: 5;    
    background-color: rgb(246,245,245);
    -webkit-box-shadow: inset 50px 0px 0px 0px rgba(11,109,89,1),-5px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 50px 0px 0px 0px rgba(11,109,89,1),-5px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 50px 0px 0px 0px rgba(11,109,89,1),-5px 0px 5px 0px rgba(0,0,0,0.75);
}

ul{
    margin-top: 1rem;
    padding:0;
    list-style-type: none;
}
li{
    margin-bottom: 2rem;
    
}

li strong{
    margin-left: 1rem;
}

li img{
    padding: 0.7rem;
}
li.enabled img{
    height: 50px;
    width: 50px;
}

li.enabled{
    color: rgb(98, 154, 136);
}
li.disabled{
    background-color: rgb(92, 95, 94);
}
li.disabled img{
    height: 50px;
    width: 50px;
}
#interface{    
    position: relative;
}
#interface p{
    text-align: start;
    color: rgb(168,168,168);
}

#box-admin h1{
    font-size: 3rem;
    color: rgb(54,45,124);
    margin-top: 10rem;
    margin-left: 5rem;
    width: auto;
    height: 0px;
}


#box-admin p{
    margin-top: 10rem;
    margin-left: 5rem;
    width: 25rem;
    height: 25rem;
}

#logo img{
    width: 2rem;
    position: absolute;
    right: 1;
}