#appHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(239, 239, 239); 
    margin-bottom: 1rem;
    padding: 1em 1em 1em 1em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    font-size: large;
}


#appHeader a:link{
    color:gray;
}
#appHeader a:visited{
    color: gray;
}
#appHeader a:hover {
    color: black;
  }
#icon{
    margin-left: 1rem;
    width: 25%;
}
.circular--square {
    border: solid rgb(55, 117, 105);
    border-radius: 50%;
    height: 50px;
    margin-right: 1rem;
}