<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ArboEdu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/styles/styleBaseAdmin.css">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container-fluid"> <!--MODAIS-->

        <!-- Modal Cadastrar Escola -->
        <div class="modal fade" id="modal-cadastro-escola" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style=" padding-left: 30px; padding-right: 30px; background-color: whitesmoke ">
                    <div class="modal-header" style="border: 0px">
                        <h2 class="font-weight-light">Adicionar <span class="cadastro-span-perfil">Escola</span></h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body" style="border: 0px">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-10 input-group-sm mb-3">
                                    <label for="nome-escola">Nome da Escola</label>
                                    <input type="text" class="form-control form-control-sm" id="nome-escola" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="form-group col-md-7 input-group-sm mb-3">
                                    <label for="endereco-escola">Endereço</label>
                                    <input type="text" class="form-control form-control-sm" id="endereco-escola" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-3 input-group-sm mb-3">
                                    <label for="cep-escola">CEP</label>
                                    <input type="text" class="form-control form-control-sm" id="cep-escola" placeholder="00-000-000" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-5 input-group-sm mb-3">
                                    <label for="cidade-escola">Cidade</label>
                                    <input type="text" class="form-control form-control-sm" id="cidade-escola" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-5 input-group-sm mb-3">
                                    <label for="bairro-escola">Bairro</label>
                                    <input type="text" class="form-control form-control-sm" id="bairro-escola" aria-label="Small">
                                </div>
                                <div class="form-group col-md-4 input-group-sm mb-3">
                                    <label for="telefone-escola">Telefone</label>
                                    <input type="email" class="form-control form-control-sm" id="telefone-escola" placeholder="(00) 00000-0000" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-6 input-group-sm mb-3">
                                    <label for="distrito-escola">Distrito Sanitário</label>
                                    <input type="password" class="form-control form-control-sm" id="distrito-escola" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-10 input-group-sm mb-3">
                                    <label for="gre-escola">Gerência Regional de Educação (GRE)</label>
                                    <input type="password" class="form-control form-control-sm" id="gre-escola" style="text-align: center" aria-label="Small">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="background-color: whitesmoke;border: 0px">
                        <button type="button" id="modal-cadastro-escola-voltar" class="btn-modal">
                            Voltar
                        </button>
                        <button type="button" id="modal-cadastro-escola-prosseguir" class="btn-modal">
                            Prosseguir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal Cadastrar Escola - Diretor -->
        <div class="modal fade" id="modal-cadastro-escola-diretor" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style=" padding-left: 30px; padding-right: 30px; background-color: whitesmoke ">
                    <div class="modal-header" style="border: 0px">
                        <h2 class="font-weight-light">Adicionar <span class="cadastro-span-perfil">Escola</span></h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="border: 0px">
                        <div></div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-10 input-group-sm mb-3">
                                    <label for="nome-escola-diretor">Nome do Diretor</label>
                                    <input type="text" class="form-control form-control-sm" id="nome-escola-diretor" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="form-group col-md-10 input-group-sm mb-3">
                                    <label for="email-escola-diretor">Email</label>
                                    <input type="email" class="form-control form-control-sm" id="email-escola-diretor" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-5 input-group-sm mb-3">
                                    <label for="cpf-escola-diretor">CPF</label>
                                    <input type="text" class="form-control form-control-sm" id="cpf-escola-diretor" placeholder="000.000.000-00" style="text-align: center" aria-label="Small">
                                </div>
                                <div class="form-group col-md-5 input-group-sm mb-3">
                                    <label for="telefone-escola-diretor">Telefone</label>
                                    <input type="email" class="form-control form-control-sm" id="telefone-escola-diretor" placeholder="(00) 00000-0000" style="text-align: center" aria-label="Small">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="background-color: whitesmoke;border: 0px">
                        <button type="button" id="modal-cadastro-diretor-voltar" class="btn-modal">
                            Voltar
                        </button>
                        <button type="button" id="modal-cadastro-diretor-avancar" class="btn-modal">
                            Avançar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Cadastrar Escola - Turmas -->
        <div class="modal fade" id="modal-cadastro-escola-turmas" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style=" padding-left: 30px; padding-right: 30px; background-color: whitesmoke ">
                    <div class="modal-header" style="border: 0px">
                        <h2 class="font-weight-light">Adicionar <span class="cadastro-span-perfil">Escola</span></h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="bottom">Incluir Turmas</h3>
                    </div>
                    
                    <div class="modal-body" id="body-modal-turmas">
                        <div class="container-fluid">                            
                            <div class="row">
                                <div class="col-5">
                                    <form>                       
                                        <div class="form-group">
                                            <div class="form-group col-7">
                                                <label for="inputEstado">Ano</label>
                                                <select id="inputEstado" class="form-control">
                                                    <option selected></option>
                                                    <option>1 ano</option>
                                                    <option>2 ano</option>
                                                    <option>3 ano</option>
                                                </select>
                                            </div>                   
                                            
                                            <div class="form-group input-group-sm mb-3 col-12">
                                                <label for="radios-turmas">Turno</label>
                                                <div id='radios-turmas'>
                                                    <div class="form-check form-check-inline" >
                                                        <input class="form-check-input" type="radio" id="inlineCheckbox1" value="opcao1">
                                                        <label class="form-check-label" for="inlineCheckbox1">Manhã</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="inlineCheckbox2" value="opcao2">
                                                        <label class="form-check-label" for="inlineCheckbox2">Tarde</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="inlineCheckbox3" value="opcao3" disabled>
                                                        <label class="form-check-label" for="inlineCheckbox3">Noite</label>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="form-group col-12 input-group-sm mb-3">
                                                <label for="nome-escola-bal">Identificação da turma</label>
                                                <input type="text" class="form-control form-control-sm" id="nome-escola-bal" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                        </div>                            
                                    </form>
                                </div>
                                <div class="col-5">
                                        <label for="tabela-turmas">Turmas listadas</label>
                                    <div style="border-radius: 10px; border: 1px solid blue; background-color: white">
                                     

                                    <table class="table table-borderless table-hover table-sm" id = "tabela-turmas">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ano</th>
                                                <th scope="col">Turma</th>
                                                <th scope="col">Turno</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1 ano</th>
                                                <td>"C"</td>
                                                <td>Tarde</td>                                            
                                            </tr>
                                            <tr>
                                                <td>2 ano</th>
                                                <td>"A"</td>
                                                <td>Manhã</td>                                            
                                            </tr>
                                            <tr>
                                                <td>3 ano</th>
                                                <td>"B"</td>
                                                <td>Tarde</td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: whitesmoke;border: 0px">
                        <button type="button" id="modal-cadastro-escola-turmas-voltar" class="btn-modal">
                            Voltar
                        </button>
                        <button type="button" id="modal-cadastro-escola-turmas-avancar" class="btn-modal">
                            Prosseguir
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal final cadastro -->
        <div class="modal fade" id="modal-cadastro-final" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <!-- Modal content-->
                <div class="modal-content" style=" padding-left: 30px; padding-right: 30px; background-color: whitesmoke ">
                    <div class="modal-header" style="border: 0px">
                        <h2 class="font-weight-light">Cadastro <span class="cadastro-span-perfil" id="cadastro-span-perfil">Alguem</span></h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body" style="border: 0px">
                        <img src="../../img/icons/Ativo%2010.svg" alt="Logo" class="col-3 rounded mx-auto d-block" style="margin: 30px" />
                        <h4 style="text-align: center; color: grey">Cadastro realizado com sucesso.</h4>
                    </div>
                    <div class="modal-footer" style="background-color: whitesmoke;border: 0px">
                        <button type="button" id="modal-cadastro-final-avancar" class="btn-modal" data-dismiss="modal">
                            Prosseguir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div style="flex-grow: 2; align-self: center; width: 2rem">
            <a href="#home"> <img src="../img/icons/Ativo36.svg" height="50rem"> </a>
        </div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#home">Home</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#historic">Histórico</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#results">Resultados</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#preferences">Preferências</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#logoutt">Sair</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#login" class="btn-login"><b><img class="icon-navbar" src="https://image.flaticon.com/icons/png/512/9/9273.png" width="60" height="60"></b></a></div>
    </div>

    <div class="content-professor">
        <div style="flex-grow: 1; align-self: center" class="opition-bar">
            <div class="cross-opition-bar">
                <!--https://br.flaticon.com/icone-gratis/lasca_1766963-->
                <div style="height: 56px; background-color: #434545"><img src="../img/icons/lasca.svg" style="padding: 11px;" height="47"></div>
                <div style="height: 56px;"><img src="../img/icons/adicionar.svg" style="padding: 10px 14px 0px 14px" height="32"></div>
                <div style="height: 56px;"><img src="../img/icons/editar.svg" style="padding: 15px;" height="49"></div>
                <div style="height: 56px;"><img src="../img/icons/carraca.svg" style="padding: 15px;" height="49"></div>
                <div style="height: 56px;"><img src="../img/icons/bubble.svg" style="padding: 15px;" height="52"></div>
                <div style="height: 56px;"><img src="../img/icons/bar-chart.svg" style="padding: 15px;" height="49"></div>
            </div>
            <ul>
                <!--<li><a class="btn-administrador" style="color:rgba(239, 239, 239, 0.58)">Administrador</a></li>-->
                <li><a class="btn-base-administrador" style="background-color: #434545; font-style:italic; color: gray">Administrador</a></li>
                <li><a class="btn-adicionar-componentes" style="color: #2c705a; font-weight: bold">Adicionar Componentes</a></li>
                <li><a class="btn-editar-componentes" style="color: #2c705a; font-weight: bold">Editar Componentes</a></li>
                <li><a class="btn-aprovar-atividades" style="color: #2c705a; font-weight: bold">Aprovar atividades</a></li>
                <li><a class="btn-notificacoes" style="color: #2c705a; font-weight: bold">Notificações</a></li>
                <li><a class="btn-consultar-ranking" style="color: #2c705a; font-weight: bold">Consultar Ranking</a></li>
                <li><a class="btn-consultar-indicadores" style="color: #2c705a; font-weight: bold">Consultar Indicadores</a></li>
            </ul>
        </div>
        <div style="flex-grow: 130; align-self: baseline; padding-top: 1rem" class="boddy-user">

            <div class="base-administrador">
                <div>
                    <h2 class="titulo-base-adm" style="font-size: 2rem">Bem-vindo ao Arboedu.web!</h2>
                    <div class="texto-base-adm">
                        <h3 style="font-style:italic; color: #434545; font-weight: bold">Caro administrador,</h3>
                        <p>Este é um estudo piloto que faz parte de uma pesquisa sobre o uso de dispositivos móveis para execução de ações educativas visando à mudança de comportamento da população em relação à prevenção de arboviroses, como a Dengue, Zika
                            e Chikingunya.
                        </p>
                    </div>
                </div>
            </div>

            <div class="adicionar-componentes">
                <p>Adicionar Componentes</p>
            </div>

            <div class="editar-componentes">
                <div class="title-boddy-adm">Indique o que deseja editar: </div>
                <div class="boddy-adm-options">
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 7.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Professor ou Diretor</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a class="boddy-adm-option" href="#">
                            <img src="../img/icons/Ativo 8.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Escola</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 40.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Jovem ACE</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 37.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Profissional de Saúde</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 38.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Profissional de Educação</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 39.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Pesquisador</div>
                    </div>
                    <div class="prof-ou-dir">
                        <a href="#" class="boddy-adm-option">
                            <img src="../img/icons/Ativo 9.svg" alt="" width="170" style="margin: 40px;">
                        </a>
                        <div class="title-button">Desafios</div>
                    </div>
                </div>
            </div>

            <div class="aprovar-atividades">
                <p>Aprovar Componentes</p>
            </div>

            <div class="notificacoes">
                <p>Notificações</p>
            </div>
            <div class="consultar-ranking">
                <p>Consultar Ranking</p>
            </div>

            <div class="consultar-indicadores">
                <p>Consultar Indicadores</p>
            </div>

        </div>
    </div>
    <script src="" async defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $("#modal-cadastro-escola-turmas").modal('show');

            $("#modal-cadastro-escola-prosseguir").click(function(){
                $("#modal-cadastro-escola").modal('hide');
                $("#modal-cadastro-escola-diretor").modal('show');
            });

            $("#modal-cadastro-diretor-avancar").click(function(){
                $("#modal-cadastro-escola-diretor").modal('hide');
                $("#modal-cadastro-escola-turmas").modal('show');
            });      

            $("#modal-cadastro-escola-turmas-avancar").click(function(){
                $("#modal-cadastro-escola-turmas").modal('hide');
                $("#modal-cadastro-final").modal('show');
            });

            $(".base-administrador").show();
            $(".adicionar-componentes").hide();
            $(".editar-componentes").hide();
            $(".aprovar-atividades").hide();
            $(".notificacoes").hide();
            $(".consultar-ranking").hide();
            $(".consultar-indicadores").hide();

            $(".btn-base-administrador").click(function() {
                $(".base-administrador").show();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").hide();
                $(".notificacoes").hide();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").hide();
            });

            $(".btn-adicionar-componentes").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").show();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").hide();
                $(".notificacoes").hide();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").hide();
            });

            $(".btn-editar-componentes").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").show();
                $(".aprovar-atividades").hide();
                $(".notificacoes").hide();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").hide();
            });

            $(".btn-aprovar-atividades").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").show();
                $(".notificacoes").hide();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").hide();
            });

            $(".btn-notificacoes").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").hide();
                $(".notificacoes").show();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").hide();
            });

            $(".btn-consultar-ranking").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").hide();
                $(".notificacoes").hide();
                $(".consultar-ranking").show();
                $(".consultar-indicadores").hide();
            });

            $(".btn-consultar-indicadores").click(function() {
                $(".base-administrador").hide();
                $(".adicionar-componentes").hide();
                $(".editar-componentes").hide();
                $(".aprovar-atividades").hide();
                $(".notificacoes").hide();
                $(".consultar-ranking").hide();
                $(".consultar-indicadores").show();
            });
        });
    </script>
</body>

</html>