<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/styles/styleBase.css">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div style="flex-grow: 2; align-self: center; width: 2rem">
            <a href="#home"> <img src="../img/icons/Ativo36.svg" height="50rem"> </a>
        </div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#home">Home</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#historic">Histórico</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#results">Resultados</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#preferences">Preferências</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#logoutt">Sair</a></div>
        <div style="flex-grow: 1; align-self: center; width: 0.5rem"><a href="#login" class="btn-login"><b><img class="icon-navbar" src="https://image.flaticon.com/icons/png/512/9/9273.png" width="60" height="60"></b></a></div>
    </div>
    <div class="title-boddy-adm">Selecione um perfil: </div>
    <div class="boddy-adm-options">
        <div class="prof-ou-dir">
            <a href="#" class="boddy-adm-option">
                <img src="../img/icons/Ativo 38.svg" alt="" width="220" style="margin: 40px;">
            </a>
            <div class="title-button">Administrador</div>
        </div>
        <div class="prof-ou-dir">
            <a class="boddy-adm-option" href="#">
                <img src="../img/icons/Ativo 7.svg" alt="" width="220" style="margin: 40px;">
            </a>
            <div class="title-button">Professor</div>
        </div>
        <div class="prof-ou-dir">
            <a href="#" class="boddy-adm-option">
                <img src="../img/icons/Ativo 40.svg" alt="" width="220" style="margin: 40px;">
            </a>
            <div class="title-button">Jovem ACE</div>
        </div>
        <div class="prof-ou-dir">
            <a href="#" class="boddy-adm-option">
                <img src="../img/icons/Ativo 37.svg" alt="" width="220" style="margin: 40px;">
            </a>
            <div class="title-button">Profissional de Saúde</div>
        </div>
    </div>

</body>

</html>